.navBar {
    background-color: #191c36;
}
.logo {
    font-size: 28px !important;
    color: #ffff !important;
    font-weight: 700 !important;
}
.navLink {
    font-size: 20px !important;
    color: #fff !important;
    font-weight: 600 !important;
    transition: all 0.4s;
}
.navLink:hover {
    color: #c11dc1 !important;
}

@media only screen and (max-width: 767px) {
    .navLink {
        font-size: 18px !important;
    }
}

/* Start Medium Devices */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navLink {
        font-size: 18px !important;
    }
} /* End Medium Devices */
