html,
body {
    height: 100% !important;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #191c36 !important;
}
div#root {
    height: 100% !important;
}
a {
    text-decoration: none !important;
}

main {
    min-height: 100% !important;
    position: relative !important;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
    color: #c11dc1 !important;
}
.form-check-input:checked {
    background-color: #191c36 !important;
    border-color: #191c36 !important;
}

footer {
    position: absolute;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    button.navbar-toggler {
        color: #fff !important;
        border: 2px solid !important;
    }
    .navbar-toggler:focus {
        box-shadow: none !important;
    }
} 

/* Start Medium Devices */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    button.navbar-toggler {
        color: #fff !important;
        border: 2px solid !important;
    }
    .navbar-toggler:focus {
        box-shadow: none !important;
    }
} /* End Medium Devices */
